body {
    display: block;
    background-color: white;
    margin: auto;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    font-size: large;
    width: 100%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Pinyon Script', cursive;
    font-size: 5.625rem;
    color: #00ae41;
}

hr {
    border-style: none;
    width: 25px;
    border-top: 3px dotted #00ae41;
}

h2 {
    font-family: 'Pinyon Script', cursive;
    font-size: 4rem;
}

h3 {
    font-family: 'Pinyon Script', cursive;
    font-size: 3rem;
    color: #11999E;
}

a {
    color: #11999E;
}

.top-container {
    background-color: #87ceeb;
    position: relative;
    padding-top: 100px;
    margin: auto;
    width: 100%;
    justify-content: center;
}

.subtitle {
    line-height: 2;
    font-size: 2.5rem;
    font-weight: normal;
    color: snow;
    -webkit-text-stroke: .02em #00ae41;
    font-family: 'Philosopher', sans-serif;
}


.pro {
    text-decoration: underline;
}


.image {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    float: left;
    margin: auto 0px;
}

.profile>p {
    overflow: hidden;
    width: 100%;
    margin: auto;
    justify-content: center;
    padding-bottom: 50px;
}

.skill-row {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    padding-top: 0;
}

#ed {
    margin-left: 79%;
}

.skill-content {
    margin-top: -150px;
}

p {
    overflow: hidden;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.contact-me {
    margin-top: 100px;
}

.contact-me>p {
    margin-bottom: 25px;
}


.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #1AD2D9);
    border-radius: 25px;
    height: 9px;
    line-height: 9px;
    color: #FFFFFF;
    font-family: Brush Script MT !important;
    width: 200px;
    font-size: 2rem;
    font-weight: 400;
    padding: 35px;
    margin-top: 20px;
    margin-bottom: 70px;
    box-shadow: 1px 1px 10px 0 #000000;
    text-shadow: 1px 1px 8px #000000;
    border: solid #000000 4px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background: #16CBD2;
    border: solid #000000 1px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-decoration: none;
}

.bottom-container {
    padding: 70px;
    background-color: #11999E;
}

.bottom-container>a {
    color: white;
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
}

.bottom-container>p {
    margin-top: 40px;
    font-size: 1rem;
}